$color-black: #000000;

.input {
  display: flex;
  flex-direction: column;

  &__label {
    color: $color-black;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    opacity: 0.75;
  }
}