$color-white: #ffffff;
$color-blue-gray: #383E4E;

.footer {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background-color: $color-blue-gray;

  .footer__table {
    padding: 2rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 0px) and (max-width: 940px) {
      padding: 2rem 2rem;
      align-items: flex-start;
      flex-direction: column;
    }

    .footer__section {
      .section__iconList {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      h4 {
        margin: 2.5rem 0;
        color: $color-white;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        letter-spacing: 1.6px;
        text-decoration: none;
        text-transform: uppercase;
        opacity: 1;
      }

      ul {
        list-style: none;
        list-style-type: none;

        li {
          &::first-letter {
            text-transform: uppercase;
          }

          padding: 0.75rem 0;

          @media screen and (min-width: 0px) and (max-width: 1440px) {
            padding: 0.5rem 0;
          }

          h5, p, a {
            color: $color-white;
            font-size: 1rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            letter-spacing: 0.8px;
            text-decoration: none;
            opacity: 1;
          }

          p {
            @media screen and (min-width: 940px) and (max-width: 1440px) {
              width: 240px;
            }
          }

          h5 {
            font-weight: 600;
          }
        }
      }
    }
  }

  .footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8rem;
    padding: 2rem 0;
    border-top: 0.1rem $color-white solid;

    @media screen and (min-width: 0px) and (max-width: 940px) {
      margin: 0 2rem;
    }
      
    p {
      color: $color-white;
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
      letter-spacing: 0.8px;
      text-decoration: none;
      opacity: 0.45;
    }
  }

  .footer__map {
    iframe {
      width: 100%;
      height: 550px;
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}